@font-face {
    font-family: 'TexGyreSchola';
    src: url('../fonts/texgyreschola-regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TexGyreSchola';
    src: url('../fonts/texgyreschola-bold.otf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TexGyreSchola';
    src: url('../fonts/texgyreschola-italic.otf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'TexGyreSchola';
    src: url('../fonts/texgyreschola-bolditalic.otf') format('truetype');
    font-weight: bold;
    font-style: italic;
}